.mainContainer_homeUsers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userField_homeUsers {
    display: flex;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/

    border: solid 4px #d3394c;
    background-color: #e85668;
    border-radius: 4px;
    margin: 0 5px 5px 5px;
    width: 200px;
}

.userInfo_homeUsers {
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    color: #722040;
    overflow: hidden;
    font-weight: 560;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 80%;
}

.deleteUser_homeUsers {
    margin: 5px 0 0 3px;

    height: 25px;
    width: 25px;
    cursor: pointer;

    color: white;
    transition-duration: 0.4s;

    background-color: transparent;
    border: 1px none lightgrey;
    border-radius: 4px;
}

.deleteUser_homeUsers:hover {
    background-color: #722040;
    border: 1px none #5c5853;
}