.listItems {
    grid-column: 1 / span 4;
    grid-row: 3;

    font-size: 12px;
}

.listItemContainer_ItemListMap {
    display: grid;
    align-items: center;
    justify-content: left;
    grid-gap: 4px;
    margin: 4px;
}

.itemContainer {
    grid-row: 1;
    grid-column: 1 / span 2;

    width: 10em;
}

.listItemQuantity {
    grid-row: 1;
    grid-column: 3 / span 2;
}

.listItemButton {
    color: white;

    /*transition-duration: 0.4s;*/
    cursor: pointer;

    background-color: transparent;

    border: 1px none lightgrey;
    border-radius: 4px;
}

.completedItem {
    text-decoration: line-through;
}

.checkCircle_ItemListMap {
    font-size: 10px;
}
