.listContainer {
    margin: 10px;
    padding: 4px;

    min-width: 15.5em;

    border: 3px solid #ffc800;
    border-radius: 5px;
    box-shadow: 2px 2px #5c5853;

    background: linear-gradient(90deg, rgba(255, 197, 94, 1) 0%, rgba(255, 214, 143, 1) 40%, rgba(255, 224, 171, 1) 100%);
    /*background: linear-gradient(70deg, rgba(196,140,0,1) 0%, rgba(227,198,122,1) 34%, rgba(255,230,151,1) 100%);*/

    display: grid;
    grid-template-columns: 5em 5em 1.3em 1.3em;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.listHeaderTitle {
    grid-column: 1 / span 2;
    grid-row: 1;

    text-align: center;
    font-family: "Verdana", serif;
    color: #2b2b2b;
    font-weight: bold;

    background-color: white;
    border-radius: 6px;

    padding: 5px;
    cursor: default;
}

.editListButton_ShoppingList {
    grid-column: 3 / span 1;
    grid-row: 1;
}

.deleteListButton_ShoppingList {
    grid-column: 4 / span 1;
    grid-row: 1;
}

.button_ShoppingList {
    height: 25px;
    width: 25px;
    cursor: pointer;

    color: #80735b;
    transition-duration: 0.4s;

    background-color: transparent;
    border: 1px none lightgrey;
    border-radius: 4px;
}

.button_ShoppingList:hover {
    background-color: lightgrey;
    border: 1px none #5c5853;
}

.divider1 {
    grid-column: 1 / span 4;
    grid-row: 2;

    border: 2px solid white;
    border-radius: 4px;
}

.divider2 {
    grid-column: 1 / span 4;
    grid-row: 4;

    border: 2px solid white;
    border-radius: 4px;
}

.listTotalQuantity {
    grid-column: 1 / span 4;
    grid-row: 5;

    text-align: center;

    color: #2b2b2b;
}

.progressBar_ShoppingList {
    grid-column: 1 / span 4;
    grid-row: 6;

    text-align: center;
}