.listContainer_ShoppingList {
    margin: 4px;
    padding: 4px;

    min-width: 12em;
    height: fit-content;

    color: white;
    font-weight: 600;

    border: 3px solid #d3394c;
    border-radius: 5px;
    box-shadow: 2px 2px #5c5853;

    background-color: #e85668;

    display: grid;
    grid-template-columns: 4em 4em 1.3em 1.3em;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}

.listHeaderTitle_ShoppingList {
    grid-column: 1 / span 2;
    grid-row: 1;

    text-align: center;
    font-family: "Verdana", serif;
    font-size: 12px;
    color: #722040;
    font-weight: bold;

    background-color: white;
    border-radius: 6px;

    padding: 5px;
    cursor: default;
}

.editListButton_ShoppingList {
    grid-column: 3 / span 1;
    grid-row: 1;
}

.deleteListButton_ShoppingList {
    grid-column: 4 / span 1;
    grid-row: 1;

    /*margin-left: -5px;*/
}

.button_ShoppingList {
    height: 25px;
    width: 25px;
    cursor: pointer;

    color: white;
    transition-duration: 0.4s;

    background-color: transparent;
    border: 1px none lightgrey;
    border-radius: 4px;
}

.button_ShoppingList:hover {
    background-color: #722040;
    border: 1px none #5c5853;
}

.divider1_ShoppingList {
    grid-column: 1 / span 4;
    grid-row: 2;

    border: 2px solid white;
    border-radius: 4px;
}

.divider2_ShoppingList {
    grid-column: 1 / span 4;
    grid-row: 4;

    border: 2px solid white;
    border-radius: 4px;
}

.listTotalQuantity_ShoppingList {
    grid-column: 1 / span 4;
    grid-row: 5;

    text-align: center;
    font-size: 12px;
}

.progressBar_ShoppingList {
    grid-column: 1 / span 4;
    grid-row: 6;

    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
}