.fontAwesomeIcon {
  margin-left: 5px;
  margin-right: 5px;
}

#linkToUnsere-Kochrezepte {
  text-decoration: none;
  color: white;
}

#linkToUnsere-Kochrezepte:hover {
  text-decoration: underline;
}

#homeLink, #listViewLink, #newListLink, #subscribeToList {
  border-radius: 4px;
  transition-duration: 0.4s;
}

#homeLink .toolTipText, #listViewLink .toolTipText, #subscribeToList .toolTipText{
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 1px;
  margin-top: 30px;

  position: absolute;
  z-index: 1;
  top: 30%;
  /*left: 80%;*/
  margin-left: -37px;

  opacity: 0;
  transition: opacity 0.4s;
}

#homeLink:hover, #listViewLink:hover, #newListLink:hover, #subscribeToList:hover{
  background-color: #722040;
}

#homeLink:hover .toolTipText, #listViewLink:hover .toolTipText, #subscribeToList:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

#createNewList:hover {
  transition-duration: 0s;
  animation: rotation 1s infinite linear;
  transform-origin: 10% 90%;
}

@keyframes rotation {
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.mainContainer {
  display: grid;

  margin-left: 3%;
  margin-right: 3%;

  align-items: center;
  justify-content: center;
}

.nav {
  grid-row: 1;
  grid-column: 1;

  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  margin: 5px 3% 5px 3%;

  justify-content: center;
  text-align: center;
  font-weight: 530;
}

.main {
  grid-row: 2;
  grid-column: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userGreeting {
  font-family: Roboto, sans-serif;

  color: #f1e5e6;
  background-color: #d3394c;
  padding: 5px 5px;

  transition-duration: 0.4s;

  border-radius: 4px;

  margin-right: 5px;
}

.fileDownload {
  font-family: Roboto, sans-serif;

  color: #f1e5e6;
  background-color: #d3394c;
  padding: 5px 5px;
  cursor: pointer;

  transition-duration: 0.4s;

  border-radius: 4px;

  margin-left: -10px;
  margin-right: 5px;
  /*margin: 0 5px;*/
}

.fileDownload:hover {
  background-color: #722040;
}

.fileUploadInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileUploadLabel {
  font-family: Roboto, sans-serif;

  cursor: pointer;
  color: #f1e5e6;

  transition-duration: 0.4s;
  background-color: #d3394c;
  padding: 5px 5px;
  margin-right: 5px;

  border-radius: 4px;
}

.fileUploadLabel:hover {
  background-color: #722040;
}

.fileUploadLabel:hover > #syncIcon {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.newListLabel {
  font-family: Roboto, sans-serif;

  cursor: pointer;
  color: #f1e5e6;

  transition-duration: 0.4s;
  background-color: #d3394c;
  padding: 5px 5px;

  border-radius: 4px;
}

.newListLabel:hover {
  background-color: #722040;
}

.newListLabel:hover > #hammerIcon {
  transition-duration: 0s;
  transform-origin: 10% 90%;
  animation: rotation 1s infinite linear;
}

.newUserAddField {
  border: solid 4px #d3394c;
  border-radius: 4px;
  padding: 5px;
  background-color: #e85668;
}

.newUserAddButton {
  height: 25px;
  width: 25px;
  cursor: pointer;

  color: white;
  transition-duration: 0.4s;

  background-color: transparent;
  border: 1px none lightgrey;
  border-radius: 4px;

  margin-left: 5px;
}

.newUserAddButton:hover {
  background-color: #722040;
  border: 1px none #5c5853;
}

.buttonContainer {
  display: flex;

  height: 30px;
  margin: 20px;
}

/*.addNewListButton {*/
/*  color: #80735b;*/

/*  transition-duration: 0.4s;*/
/*  cursor: pointer;*/

/*  background-color: black;*/
/*  border: 1px none;*/
/*  border-radius: 4px;*/
/*}*/

/*.addNewListButton:hover {*/
/*  background-color: lightgrey;*/
/*}*/
